<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
    <!-- Add your CSS link or styling here -->
</head>
<body>
    <h1>Edit Customer</h1>
    <form action="/admin/edit-customer/<%= customer.id %>" method="post">
        <input type="email" name="email" placeholder="Email" value="<%= customer.email %>" required><br>
        <input type="password" name="password" placeholder="Password" value="<%= customer.password %>" required><br>
        <input type="text" name="company" placeholder="Company Name" value="<%= customer.company %>" required><br>
        <input type="text" name="phone" placeholder="Phone Number" value="<%= customer.phone %>" required><br>
        <input type="text" name="addressLine1" placeholder="Address Line 1" value="<%= customer.addressLine1 %>" required><br>
        <input type="text" name="addressLine2" placeholder="Address Line 2" value="<%= customer.addressLine2 %>"><br>
        <input type="text" name="city" placeholder="City" value="<%= customer.city %>" required><br>
        <input type="text" name="state" placeholder="State" value="<%= customer.state %>" required><br>
        <input type="text" name="zipCode" placeholder="Zip Code" value="<%= customer.zipCode %>" required><br>
        <select name="priceLevel">
            <option value="1" <%= customer.priceLevel === 1 ? 'selected' : '' %>>Level 1</option>
            <option value="2" <%= customer.priceLevel === 2 ? 'selected' : '' %>>Level 2</option>
            <option value="3" <%= customer.priceLevel === 3 ? 'selected' : '' %>>Level 3</option>
        </select><br>
        <button type="submit">Update Customer</button>
    </form>
</body>
</html>
